.container {
    text-align: center;
    margin-top: 50px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .joke {
    margin-top: 20px;
    font-size: 18px;
  }
  
  h1,h5, .joke{
    color: #fff;
  }

  .joke{
    margin-top: 50px;
    border: #fff;
    border: 5px solid #fff;
    padding: 20px;
    border-radius: 12px;
    border-color: aquamarine;
    font-size: 25px;
  }

  *{
    cursor: pointer !important;
  }

  h5{
    font-size: 20px;
  }